<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Player
    if (isMobile)
      link(rel='stylesheet', href='#{staticUrl}videoplayer/urplayer/css/v1-mobile.css')
    else
      link(rel='stylesheet', href='#{staticUrl}videoplayer/urplayer/css/v1.css')

    style.
      body{
        margin:0;
        padding: 0;
      }
      html {
        overflow: hidden;
      }
      #p1{
        width: 100%;
        height: 100%;
      }
      .p1_fullscreen{
          display: none !important;
      }
  body
    script.
      var platform = "#{platform}";
      var ismobile = #{isMobile};
      var tvData = {};  
      Object.defineProperty(tvData, 'ssl', {
        value: #{tvData.ssl},
        writable : false,
        enumerable : true,
        configurable : false
      });
      
      Object.defineProperty(tvData, 'camstring', {
        value: "#{tvData.cam}",
        writable : false,
        enumerable : true,
        configurable : false
      });

      Object.defineProperty(tvData, 'IP', {
        value: "#{tvData.ip}",
        writable : false,
        enumerable : true,
        configurable : false
      });

      Object.defineProperty(tvData, 'port', {
        value: #{tvData.pno},
        writable : false,
        enumerable : true,
        configurable : false
      });

      Object.defineProperty(tvData, 'ptype', {
        value: "#{tvData.ptype}",
        writable : false,
        enumerable : true,
        configurable : false
      });

    if (platform == 'ios') 
      video(id='p1', autoplay, playsinline, width='100%', height='100%', style='background-color:black;')
      script(src='#{staticUrl}videoplayer/urplayer/js/adapter.js')
      script(src='#{staticUrl}videoplayer/urplayer/js/webrtcplayer.js')
    
    else 
      if (isMobile == true) 
        #p1
          .playButton
            button(onclick='playPlayback()') Start Live Video
      else 
        HTML5VideoPlayer(id="p1")
      
      script(src='#{staticUrl}videoplayer/urplayer/js/player.js')

    script(src='#{staticUrl}videoplayer/urplayer/js/gameplayer.js')